@import "tailwindcss";

:root {
  --font-roboto: 'Roboto';
  --font-inter: 'Inter';
}

html,
body {
  font-family: var(--font-roboto);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
