@import "tailwindcss";

:root {
  /*---:[Colors]:---*/
  --blue-200: rgb(204,224,255);
  --blue-700: rgb(12,102,228);
  --blue-800: rgb(0,85,204);
  --blue-1000: rgb(28,43,65);
  --teal-1000: rgb(30,49,55);
  
  /*---:[Fonts]:---*/
  --font-roboto: 'Roboto';
  --font-sora: 'Sora';
}

html,
body {
  font-family: var(--font-roboto);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logo {
  color: var(--blue-800);
  font-size: 1.45rem;
  font-weight: bold;
}

.top-bar {
  background-color: var(--blue-1000);
}

.navbar {
  border-color: var(--blue-800);
}

.home-slogan {
  font-family: var(--font-sora);
  font-size: 3.8rem;
  font-weight: 400;
}