@import url('@fontsource/inter');
@import url('@fontsource/roboto-condensed');

html,
body {
  margin: 0;
  padding: 0;
}

.MuiButton-root {
  text-transform: none !important;
  font-weight: 400 !important;
}
